POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=54320
POSTGRES_DB=sales_oltp
SUPERSET_ADMIN=admin
SUPERSET_PASSWORD=admin
SUPERSET_SECRET_KEY=ChangeMeToARandomStringChangeMeToARandomStringChangeMeTo 